{% extends "base.html" %}

{% block content %}

<!--500 error page-->
<div class="container about-page">

    <div class="row">
        <div class="col-md-8 mt-3 offset-md-2">
            <p>
                <br>
                <h3>404 - Page not found :(
                    <br>
                    <br>
                    <strong>Ooops something went wrong.
                        Please click on the link below to go back to the homepage</strong>
                    <br>
                    <br><a class="navbar-brand" href="{% url 'home' %}"><span class="brand">HEARD<span
                                class="logo-o">|it</span></span></a></h3>
                <br>
            </p>
        </div>
    </div>

</div>
{%endblock%}