{% extends "base.html" %}

{% block content %}

<!--500 error page-->
<div class="row">
    <div class="col-md-8 mt-3 offset-md-2">
        <p>
            <br>
            <h3>Ooops something went wrong.
                <br>
                <br>
                <strong>500 - Internal Server Error :(</strong>
                <br>
                <br>
                Try to refresh this page or feel free to contact us if the problem persists.</h3>
            <br>
        </p>
    </div>
</div>  
{%endblock%}