{% extends "base.html" %}

{% block content %}

<!--About 'HEARD|it' page-->

<div class="container about-page">

    <div class="row">
        <div class="col-md-8 mt-3 offset-md-2">
            <p>
                <h1>Contact</h1>
                <form action="" method="POST">
                    
                    {% csrf_token %}
                    
                    {{ form.as_p }}

                    <input type="submit" value="Submit" class="btn btn-lg create_update_button">

                </form>
            </p>
        </div>
    </div>

</div>

{% endblock %}