{% extends "base.html" %}

{% block content %}

<!--Delete Page-->
<div class="row">
    <div class="col-md-8 mt-3 offset-md-2">
        <p>
            <form method="post">

                {% csrf_token %}

                <h3>Are you sure you want to delete "{{ object }}"? <br>
                    This item will be deleted immediately<br>
                    You cannot undo this action.</h3> <br>

                <button type="submit" class="btn heardit-btn btn-lg">Delete</button>
            </form>
        </p>
    </div>
</div>


{% endblock %}