{% extends 'base.html' %}

{% load crispy_forms_tags %}
{% load cloudinary %} 

{% block content %}

<div class="masthead">
    <div class="container">
        <div class="row">

            <div class = "content_section">
                <form method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    <fieldset class="form-group">
                        <legend class="border-bottom mb-4 recipe-post-heading heading-font">Article Post</legend>
                        {{ form|crispy }}
                    </fieldset>
                    <div class="form-group">
                        <button class="btn btn-lg create_update_button" type ="submit">Post</button>
                    </div>
                </form>
            </div>
        
        </div>

        <div class="masthead">
            <div class="container">
                <div class="row g-0">
                    <div class="col-md-6 masthead-text">
                        <!-- Post title goes in these h1 tags -->
                        <h1 class="post-title">{{ post.title }}</h1>
                        </h1>
                        <!-- Post author goes before the | the post's created date goes after -->
                        <p class="post-subtitle">{{ post.author }} | {{ post.created_on }}</p>
                    </div>
                    <div class="d-none d-md-block col-md-6 masthead-image">
                        <!-- The featured image URL goes in the src attribute -->
                        {% if "placeholder" in post.featured_image.url %}
                        <img src="https://res.cloudinary.com/dzyxqqpzh/image/upload/v1659357355/riydl2l136ydluqficpq.jpg" width="100%">
                        {% else %}
                        <img src="https://res.cloudinary.com/dzyxqqpzh/image/upload/v1659357355/riydl2l136ydluqficpq.jpg" width="100%">
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>

        
{% endblock content %}