{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% load cloudinary %}

{% block content %}


<div class="container-fluid post-article">
    <div class="row">
        <div class="content_section">
            <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <div>
                    <fieldset class="form-group">
                        <br>
                        {{ form|crispy }}

                        <button class="btn btn-lg heardit-btn" type="submit">Add Article</button>
                    </fieldset>
                </div>
            </form>
        </div>
    </div>

    {% endblock content %} -->