{% extends "base.html" %}

{% block content %}

<!--Search page-->

<div class="container">
    <div class="row">
        <div class="col-md-8 mt-3 offset-md-2">
            <p>
                {% if searched %}
                    <h3>Search Results for "{{ searched }}"</h3>

                <!-- {% for article in articles %}
                  <a href="{% url 'search_articles' article.id }"> {{ Post }}</a> <br>
                {% endfor %} -->

                {% else %}
                    <h4>You forgot to search for an article!</h4>
                {% endif %}
            </p>
        </div>
    </div>
</div>

{%endblock%}